  body{
    background:url(img/bg.jpg);
    background-repeat:no-repeat;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding:0;
  }
  
  .nav-bar ul{
    margin-top: 40px;
    list-style-type:none;
    display:flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
  }

  .nav-bar ul :nth-child(1){
   flex-basis: 1200px;
    text-align: left;
    margin-left: 30px;
  }

  .nav-bar ul :nth-child(4){
    margin-right:90px;
  }

  .nav-bar li a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 20px;
  }
  
  .line hr{
    margin-left: 100px;
    margin-right:100px;
    margin-top: 50px;
    margin-bottom:100px;
    border-color:white;
    border-width:1.5px;
    opacity: 0.3;  
  }

  hr {
    border-color:white;
    border-width:1.5px;
    opacity: 0.3; 
    margin-right: 0px;
    margin-left: 0px;
  }

  .big-title{
    text-align: center;
    color:white;
    margin-bottom: 80px;
    font-size: x-large;
  }

  .corp{
    display:flex;
    justify-content: space-around;
    flex-wrap:nowrap;
    color:white;
    margin-bottom: 50px;
  }

  .corp article h1{
    text-transform: uppercase;
    font-size: medium;
  }
  
  .corp h4{
    color:whitesmoke;
    opacity: 1;
    font-weight: lighter;
    opacity: 0.5;
  }
 
  #bout{
    color: rgb(62, 182, 108);
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    font-weight: bold;
    border:2px solid rgb(62, 182, 108);
    border-radius: 20px;
    padding-left: 40px;
    padding-right:40px;
    padding-top:10px ;
    padding-bottom: 10px; 
  }

  .sec1{
    margin-left:200px;
  }
  
  .sec3{
    margin-right:200px;
  }
  
  